<div ng-app="garageApp">
    <div class="jumbotron" ng-controller="garageController" ng-init="initData()">
        <div class="form-group">
            <form class="form-inline" ng-submit="postData()">
                <input class="form-control" ng-model="Vehicle.VehicleNum" required placeholder="Registration Number" />
                <select class="form-control" 
                        ng-init="Vehicle.VehicleType" 
                        ng-model="Vehicle.VehicleType"
                        ng-options="type for type in types">
                </select>
                <input class="btn btn-success" type="submit" value="Add!" />
            </form>
        </div>
        <div class="body-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reg #</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vehicle in vehicles |filter:search| orderBy:sorter track by $index">
                        <td>{{vehicle.VehicleID}}</td>
                        <td>{{vehicle.VehicleNum}}</td>
                        <td>{{vehicle.VehicleType}}</td>
                        <td>{{vehicle.VehicleSize}}</td>
                        <td>{{vehicle.VehicleDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

