<div ng-app="garageApp">
    <div class="jumbotron" ng-controller="garageController" ng-init="initData()">
        <div class="container">
            <input id="garageBtn" class="btn btn-default" type="button" ng-click="getGarage()" value="Show Garage" />
            <div id="garageTableDiv" class="hidden disabled">
                <table class="table" ng-repeat="table in garage track by $index">
                    <caption>{{$index == 0 ? "Base Floor" : "Floor: " + $index}}</caption>
                    <tr ng-repeat="row in table track by $index">
                        <td ng-repeat="column in row track by $index" ng-if="column"><span class="label label-danger">Occupied</span></td>
                        <td ng-repeat="column in row track by $index" ng-if="!column"><span class="label label-success">Available</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="container form-group" id="input">
            <form class="form-inline" ng-submit="checkForm()">
                <input class="form-control" ng-model="vehicle.Reg" required placeholder="Registration Number" />
                <input class="form-control" ng-model="vehicle.Owner" required placeholder="Owner" />
                <select class="form-control" 
                        ng-init="vehicle.Type = 'Car'" 
                        ng-model="vehicle.Type"
                        ng-options="type for type in types">
                </select>
                <input id="submitBtn" class="btn btn-success" type="submit" value="Add!" />
            </form>
        </div>
        <div class="body-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reg #</th>
                        <th>Type</th>
                        <th>Spot</th>
                        <th>Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vehicle in vehicles |filter:search| orderBy:sorter track by $index">
                        <td>{{vehicle.ID}}</td>
                        <td>{{vehicle.Reg}}</td>
                        <td>{{vehicle.Type}}</td>
                        <td>{{vehicle.Spot}}</td>
                        <td>{{vehicle.Date}}</td>
                        <td>
                        <input ng-click="getDetails(vehicle)" class="btn btn-info" type="button" value="Details" />
                        | 
                        <input ng-click="editing(vehicle)" class="btn btn-warning" type="button" value="Edit" />
                        | 
                        <input ng-click="deleteData(vehicle.ID)" class="btn btn-danger" type="button" value="Delete" />
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="">
</div>