<div ng-app="garageApp">
    <div class="jumbotron" ng-controller="garageController" ng-init="initData()">
        <div class="container form-group" id="input">
            <form class="form-inline" ng-submit="checkForm()">
                <input class="form-control" ng-model="vehicle.Reg" required placeholder="Registration Number" />
                <select class="form-control" 
                        ng-init="vehicle.Type = 'Car'" 
                        ng-model="vehicle.Type"
                        ng-options="type for type in types">
                </select>
                <input id="submitBtn" class="btn btn-success" type="submit" value="Add!" />
            </form>
        </div>
        <div class="body-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Reg #</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vehicle in vehicles |filter:search| orderBy:sorter track by $index">
                        <td>{{vehicle.ID}}</td>
                        <td>{{vehicle.Reg}}</td>
                        <td>{{vehicle.Type}}</td>
                        <td>{{vehicle.Date}}</td>
                        <td>
                        <a href="" ng-click="getDetails(vehicle.ID)">Details</a>
                        | 
                        <a href="" ng-click="editing(vehicle)">Edit</a>
                        | 
                        <a href="" ng-click="deleteData(vehicle.ID)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class=""
</div>